
/** slected tag style */
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
/** cars calss style */
.cars {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  
}
/** cars class li style  */
.cars li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.9m;
  border-radius: 4px;
}
/* car class style*/
.cars li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
/** .cars li.selected: style */
.cars li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
/** .cars text style */
.cars .text {
  position: relative;
  top: -3px;
}
/** clss cars and badge style */
.cars .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.4em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: 0px;
  height: 1.8em;
  margin-right: 0em;
  border-radius: 4px 0 0 4px;
}
/** button class style */
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
/** button hover style */
button:hover {
  background-color: #cfd8dc;
}
/** delete buttn style */
button.delete {
  float:right;
  margin-top: 2px;
  margin-right: 0em;
  background-color: red !important;
  color:white;
}
