
/* Master Styles */
/* heading 1 tag style */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
/* heading 2 and 3 tag style */
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
/* body tag style */
body {
  margin: 2em;
}
/* body input text and button style */
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/*  a tag style */
a {
  cursor: pointer;
  cursor: hand;
}
/* buttons style */
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
/* buttons hover style */
button:hover {
  background-color: #cfd8dc;
}
/* button desable class style */
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
/* visited navigation lin a tag style */
nav a:visited, a:link {
  color: #607D8B;
}
/* navigation a hover tag style */
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
/* navigation a tag style */
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
